/* Navbar styles */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: black;
  width: 100%;
  color: white;
  align-items: center;
  position: fixed;
  z-index: 10;
}

.navbar h2 {
  padding-left: 10px;
}

.nav-links {
  display: flex;
  position: relative;
  
}

.nav-links ul {
  display: flex;
  list-style: none;
  padding: 0;
}

.nav-links li a {
  margin-right: 20px;
  text-decoration: none;
  transition: 0.2s ease-in;
  color: white;
}

.nav-links-a {
  text-decoration: none;
  color: white;
  position: relative;
}

.nav-links-a:hover {
  color: grey;
  transition: 0.2s ease-in;
}

.nav-links-a:hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: white;
  transition: 0.5s ease-in;
}

.login-or-profile button {
  margin-right: 30px;
  height: 30px;
  width: 100px;
  border: none;
  border-radius: 5px;
  color: white;
  background: teal;
  font-weight: bold;
  font-family: cursive;
}

/* Mobile Drawer Styles */
.hamburger-icon {
  display: none;
  cursor: pointer;
}

/* Close icon for the drawer */
.close-icon
{
  display: none;
}


/* Media Query for responsiveness */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background-color: black;
    width: 200px;
    height: 100vh; /* Full screen height for the drawer */
    flex-direction: column;
    padding: 30px;
    z-index: 20; /* Ensure it's above other content */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3); /* Optional: Add some shadow for effect */
  }

  .nav-links.open {
    display: flex;
  }

  .nav-links ul {
    flex-direction: column;
    padding: 0;
  }

  .nav-links li a {
    margin: 10px;
    
  }

  .hamburger-icon {
    display: block;
    color: white;
  }

  .close-icon {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    color: white;
    z-index: 30; /* Ensure the close icon is above the menu content */
  }

  .login-or-profile button
  {
    margin-top: 10px;
  }
}
