.about-us
{
    padding: 30px;
    background: #2c2c2c;
    color: white;

}

.head-section{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.head-section h3
{
    text-align: center;
    color: white;
    font-size: 50px;
    font-weight: 100;
    padding: 30px;
}

.about-text
{
    margin-bottom: 40px;
}